@media only screen and (min-width: 40rem) {
  body {
    max-width: 1000px;
  }
  .flex  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }

  body > main > div:nth-child(1) {
    grid-row: 1;
    grid-column: 1/2;
  }

  body > main > div:nth-child(2) {
    grid-row: 1;
    grid-column: 2/3;
  }

  body > main > div:nth-child(3) {
    grid-row: 2;
    grid-column: 1/2;
  }

  body > main > div:nth-child(4) {
    grid-row: 2;
    grid-column: 2/3;
  }

  body > main > div:nth-child(5) {
    grid-row: 3;
    grid-column: 1/2;
  }

  body > main > div:nth-child(6) {
    grid-row: 3;
    grid-column: 2/3;
  }

  .card-footer {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10%;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
  }

  main div:nth-child(1) {
    grid-row: 2;
    grid-column: 1/2;
  }

  main div:nth-child(2) {
    grid-row: 3;
    grid-column: 1/2;
  }

  main div:nth-child(3) {
    grid-row: 4;
    grid-column: 1/2;
  }

  main div:nth-child(4) {
    grid-row: 5;
    grid-column: 1/2;
  }

  main div:nth-child(5) {
    grid-row: 6;
    grid-column: 1/2;
  }

  main div:nth-child(6) {
    grid-row: 7;
    grid-column: 1/2;
  }

  main div:nth-child(7) {
    grid-row: 8;
    grid-column: 1/2;
  }

  #container {
    grid-row: 1/9;
    grid-column: 2/4;
    max-height: 95%;
    max-width: 100%;
    background-color: rgb(255, 255, 255, 0.9);
  }
}
