@media only screen and (min-width: 40rem) {

    .card-footer{
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 5% 5% 10%;
        margin: 0 auto;
        font-size: 1rem;
        text-align: center;
    }

    main div:nth-child(2){
        grid-row: 1;
        grid-column: 1/2;
    }

    main div:nth-child(3){
        grid-row: 1;
        grid-column: 2/3;
    }

    main div:nth-child(4){
        grid-row: 1;
        grid-column: 3/4;
    }

    main div:nth-child(5){
        grid-row: 2;
        grid-column: 1/2;
    }

    main div:nth-child(6){
        grid-row: 2;
        grid-column: 2/3;
    }

    main div:nth-child(7){
        grid-row: 2;
        grid-column: 3/4;
    }

    #container {
        grid-row: 3;
        grid-column: 1/4;
        width: 200px;
        background-color: rgb(255,255,255,0.9);
      }
}