* {
  margin: 0 auto;
  text-align: center;
}

.pokedex {
  max-width: 80%;
  height: 500px;
  overflow-y: scroll;
  border-radius: 10px;
}

.pokedexContainer {
  margin-top: 10px;
}

.pokemon-block {
  display: flex;
  border-radius: 10px;
  margin: 10px;
}

.pokemon-block p {
  margin-top: 45px;
}

.pokemonImg {
  width: 90px;
}

.pagination {
  width: 90%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.pagination img {
  width: 30px;
}

#prev,
#next,
#favorite {
  text-decoration: none;
  list-style: none;
}

#favorite a {
  text-decoration: none;
}

#favorite a:hover {
  color: #ed5564;
}

.pokemonBtn {
  text-align: center;
  margin-top: 43px;
}

/*HEADER*/
header {
  background-color: #ed5564;
  padding: 5px 0;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #bbb;
}

.title {
  color: #1d1c1c;
}

.generations {
  list-style: none;
  text-decoration: none;
}

.genLink {
  list-style: none;
  text-decoration: none;
}

ul {
  display: flex;
  flex-flow: row;
  margin-left: -40px;
}

ul a {
  color: #1d1c1c;
}

ul a:hover {
  color: #ffffff;
}

/*Pokemon Details*/
.flex {
  margin-bottom: 10px;
}

.xbtn {
  padding: 25px;
}

.xbtn img {
  width: 25px;
}

.pokemonBtn {
  background: none;
  border: none;
}

.pokemonBtn img {
  width: 25px;
}

.card {
  background-color: white;
  width: 326px;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-header {
  width: 100%;
  display: block;
}

.card-body {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
  border-radius: 10px;
  height: 100%;
  margin-bottom: 10px;
}

.card-body-img {
  border: 5px solid white;
  border-radius: 50%;
  width: 240px;
  background-color: white;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.card-body-title span {
  color: var(--dark-gray);
  font-weight: 400;
}

.card-body-text {
  color: var(--dark-gray);
  font-size: 1.6rem;
  margin-top: 0;
}

.card-footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 5% 5% 10%;
  font-size: 0.8rem;
  width: 95%;
  margin: 0 auto;
}

#container {
  grid-row: 4;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 10px;
}

.card-footer-social {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-footer-social p {
  letter-spacing: 1px;
}

/*FOOTER*/
footer {
  color: #1d1c1c;
  font-size: 0.6rem;
  font-family: "Lora", serif;
  background-color: #ed5564;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#fpart2 {
  color: #1d1c1c;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#fpart2 a {
  color: #1d1c1c;
}

#fpart2 a:hover {
  color: #ffffff;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #ed5564;
  border: 3px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}
