* {
  margin: 0 auto;
  text-align: center;
}

.pokedex {
  max-width: 80%;
  height: 500px;
  overflow-y: scroll;
  border-radius: 10px;
}

.pokemon-block {
  display: flex;
  border-radius: 10px;
  margin: 10px;
}

.pokemon-block p {
  margin-top: 45px;
}

.pokemonImg {
  width: 125px;
}

.pagination {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

ul {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  text-align: left;
}

#prev,
#next {
  text-decoration: none;
  list-style: none;
  border-radius: 10px;
  background-color: rgb(243, 241, 136);
}

.pokemonBtn {
  text-align: center;
  margin-top: 43px;
}

.genLink {
  list-style: none;
  text-decoration: none;
}

.generations {
  list-style: none;
  text-decoration: none;
  margin-left: -28px;
}

/*Pokemon Details*/
.card {
  background-color: white;
  width: 326px;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-header {
  width: 100%;
  display: block;
}

.card-body {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
  border-radius: 10px;
}

.card-body-img {
  border: 5px solid white;
  border-radius: 50%;
  width: 250px;
  background-color: white;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.card-body-title span {
  color: var(--dark-gray);
  font-weight: 400;
}

.card-body-text {
  color: var(--dark-gray);
  font-size: 1.6rem;
  margin-top: 0;
}

.card-footer {
  display: grid;
  gap: 5px;
  font-size: .9rem;
  width: 95%;
}

#container {
  grid-row: 7;
  background-color: rgb(255,255,255,0.9);
  border-radius: 10px;
}

.card-footer-social {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-footer-social p {
  letter-spacing: 1px;
}
