* {
  margin: 0 auto;
  text-align: center;
}

.pokedex {
  max-width: 70%;
  height: 500px;
  overflow-y: scroll;
  border-radius: 10px;
}

.pokemon-block {
  display: flex;
  border-radius: 10px;
  margin: 10px;
}

.pokemon-block p {
  margin-top: 45px;
}

.pokemonImg {
  width: 125px;
}

.pagination {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

ul {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  text-align: left;
}

#prev,
#next {
  text-decoration: none;
  list-style: none;
  border-radius: 10px;
  background-color: rgb(243, 241, 136);
}

.genLink {
  list-style: none;
  text-decoration: none;
}

.generations {
  list-style: none;
  text-decoration: none;
  margin-left: -28px;
}
